{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>Koeajastin</h1>
        <p>Kirjoita tiedot koeajastinta varten ja paina "Aloita".</p>
    </div>
    <div>
        {{ form(form) }}
    </div>
{% endblock body %}

